.nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.navList {
  display: flex;
  gap: 5rem;
  list-style: none;
  margin: 0 auto;
}

.navRight {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding-right: 2.5rem;
}

h3 {
  font-size: 1.875rem;
}
