<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav</title>
    <link rel="stylesheet" href="nav-component.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="nav">
      <img src="src/img/IBERPISO_LOGO.jpg" />
      <h3>IberPiso</h3>
      <ul class="navList">
        <li><a href="#"></a>Comprar</li>
        <li><a href="#"></a>Alquilar</li>
        <li><a href="#"></a>Vender</li>
        <li><a href="#"></a>Promociones</li>
      </ul>

      <ul class="navRight">
        <span class="material-icons">account_circle</span>
        <button type="button">Iniciar Sesion</button>
      </ul>
    </nav>
  </body>
</html>
