<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav</title>
    <link rel="stylesheet" href="nav-component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="nav">
      <div class="nav-logo">
        <img src="../../../img/IBERPISO_LOGO.jpg" alt="IberPiso Logo" />
        <h3>IberPiso</h3>
      </div>
      
      <ul class="navList">
        <li><a href="#">Comprar</a></li>
        <li><a href="#">Alquilar</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Promociones</a></li>
      </ul>

      <div class="navRight">
        <a href="../login-page/login-page-component.html">
          <button type="button" class="btn-login">Iniciar Sesión</button>
        </a>
      </div>
    </nav>
  </body>
</html>

